{% assign image = page.header | default: site.header | relative_url %}
{% assign dark = page.header-dark | is_nil: site.header-dark | is_nil: true %}

{% assign svg = "images/logo.svg" | file_exists %}
{% assign png = "images/logo.png" | file_exists %}
{% assign jpg = "images/logo.jpg" | file_exists %}
{% assign logo = svg | default: png | default: jpg | default: nil %}

<header
  class="background"
  style="--image: url('{{ image }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  {% if page.url == "/" %}
    data-big
  {% endif %}
>
  <a 
    {% if page.dir == "/BaysanLab/" or page.dir == "/BaysanLab/posters/" or page.dir == "/BaysanLab/projects/" or page.dir == "/BaysanLab/publications/" or page.dir == "/BaysanLab/people/" or page.dir == "/BaysanLab/news/" or page.dir == "/BaysanLab/contact/" %}
    href="{{ "/BaysanLab" | relative_url }}" class="home"
    {% elsif page.dir == "/CakmakLab/" or page.dir == "/CakmakLab/posters/" or page.dir == "/CakmakLab/projects/" or page.dir == "/CakmakLab/publications/" or page.dir == "/CakmakLab/people/" or page.dir == "/CakmakLab/news/" or page.dir == "/CakmakLab/contact/" %}
    href="{{ "/CakmakLab" | relative_url }}" class="home"
    {% else %}
    href="{{ "/" | relative_url }}" class="home"
    {% endif %}>
    {% if logo %}
      <span class="logo">
        {% if svg %}
          {{ svg | file_read }}
        {% else %}
          <img src="{{ logo | relative_url }}" alt="logo">
        {% endif %}
      </span>
    {% endif %}
    
    {% if site.logo-text != false %}
      <span class="title" data-tooltip="Home">
        {% if site.title and site.show-title != false %}
          {% if page.dir != "/BaysanLab/" and page.dir != "/BaysanLab/posters/" and page.dir != "/BaysanLab/projects/" and page.dir != "/BaysanLab/publications/" and page.dir != "/BaysanLab/people/" and page.dir != "/BaysanLab/news/" and page.dir != "/BaysanLab/contact/" and page.dir != "/CakmakLab/" and page.dir != "/CakmakLab/posters/" and page.dir != "/CakmakLab/projects/" and page.dir != "/CakmakLab/publications/" and page.dir != "/CakmakLab/people/" and page.dir != "/CakmakLab/news/" and page.dir != "/CakmakLab/contact/"  %}
          <span> {{ site.title }} </span>
          {% elsif page.dir == "/BaysanLab/" or page.dir == "/BaysanLab/posters/" or page.dir == "/BaysanLab/projects/" or page.dir == "/BaysanLab/publications/" or page.dir == "/BaysanLab/people/" or page.dir == "/BaysanLab/news/" or page.dir == "/BaysanLab/contact/" %}
          <div align="left" style="position: absolute;left:40px;top:1em; font-size: 15px;"> 
            <a href="/" </a> {{"ITU Bioinformatics Research Group"}}
          </div>
          <br />
          <div align="left" style="position: absolute;left:40px;bottom:1.2em; font-size: 24px;">
            <a href="/BaysanLab/" </a> {{"BAYSAN LAB"}}
          </div>
          {% elsif page.dir == "/CakmakLab/" or page.dir == "/CakmakLab/posters/" or page.dir == "/CakmakLab/projects/" or page.dir == "/CakmakLab/publications/" or page.dir == "/CakmakLab/people/" or page.dir == "/CakmakLab/news/" or page.dir == "/CakmakLab/contact/" %}
          <span> ÇAKMAK LAB </span>
          {% endif %}
        {% endif %}
        {% if site.subtitle and site.show-subtitle != false %}
          <span>{{ site.subtitle }}</span>
        {% endif %}
      </span>
    {% endif %}
  </a>
  

  <input class="nav-toggle" type="checkbox" aria-label="show/hide nav">

  <nav>
        
    {% if page.dir != "/BaysanLab/" and page.dir != "/BaysanLab/posters/" and page.dir != "/BaysanLab/projects/" and page.dir != "/BaysanLab/publications/" and page.dir != "/BaysanLab/people/" and page.dir != "/BaysanLab/news/" and page.dir != "/BaysanLab/contact/" %}
      {% assign pages = site.pages
        | where_exp: "page", "page.nav"
        | where: "nav.main", "1"
        | sort: "nav.order"
      %}
    {% elsif page.dir == "/BaysanLab/" or page.dir == "/BaysanLab/posters/" or page.dir == "/BaysanLab/projects/" or page.dir == "/BaysanLab/publications/" or page.dir == "/BaysanLab/people/" or page.dir == "/BaysanLab/news/" or page.dir == "/BaysanLab/contact/" %}
      {% assign pages = site.pages
        | where_exp: "page", "page.nav"
        | sort: "nav.order"
        | where: "nav.BL", "1"
      %}
    {% endif %}

    {% for page in pages %}
      {% if page.nav %}
        <a
          href="{{ page.dir | relative_url }}"
          data-tooltip="{{ page.nav.tooltip }}"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  
    
  </nav>
</header>
